body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
/* common-style */
.btn-primary{
    background-color: coral;
    color: white;
    padding:10px 15px;
    border: none;
} .primary-text{
    font-size: 16px;
    color: gray;
}
/* banner */


.banner-section{
    background: url(/images/donation5.jpg);
    padding:150px 0px 120px 0px ;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
}
.banner-container{
    width: 50%;
    margin: auto;
}
.banner-headline{
    font-size:50px ;
    font-weight:12px ;
    color: white;
    margin-bottom: 0px;
    
}
.banner-text{
    color: white;
    font-size: 14px;
}
/* header- section */
.header-section{
    text-align: center;
}
.header-ammount{
    display: flex;
    justify-content: center;
 
}
.header-headline{
    font-size: 35px;
    font-weight: 12px;
    margin-top: 55px;
    margin-bottom:5px ;
}.header-text{
    width: 50%;
    margin: auto;
    line-height: 20px;
}
.header-ammount{
margin-top: 23px;
margin-bottom: 30px;
}
.box-ammount{
    background-color: rgb(246, 231, 246);
    margin-right:10px ;
    padding:17px 10px ;
    font-weight:800;
}
.pink-box{
    border: solid rgb(255, 170, 110);
    color: rgb(223, 135, 72);
}
.header-input{
    width: 30%;
     text-align: center;
     border: none;
     border-bottom: 1px solid gray;
    /* border-top: none;
    border-left: none;
    border-right: none; */
    padding: 8px;
    margin-bottom: 20px;  
}
